.dashboard{
    display:flex;
    min-height:100vh;
    transition: 0.4s;
}

.dashboard.dark{
    background:#000;
    color:white;
}

.dashboard.light{
    background: #F8F6F2;
    color: #1F2937;
}
.dashboard-content{
    margin-left:260px;
    padding:40px;
    
    width:100%;
}

@media (max-width: 900px) {

    .dashboard-content {
        margin-left: 220px;
        padding: 25px;
    }

}

@media (max-width: 600px) {

    .dashboard {
        display: block;
    }

    .dashboard-content {
        margin-left: 0;
        padding: 15px;
    }

}