.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    border-bottom:1px solid #ddd;
}

.logo h2{
    color:#16a34a;
}

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links li{
    cursor:pointer;
    font-weight:500;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:#16A34A;
}

.login-btn{
    background:none;
    border:none;
    cursor:pointer;
    font-size:16px;
}

.start-btn{
    background:#16a34a;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}